@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button, p, span, h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}

body{
    background-color: #24252A;
    font-family: Verdana, sans-serif;
    color:black;
}

header{
    position: relative;
    padding: 1vh 5vh;
}

.button_and_logo{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo{
    cursor: pointer;
}
.button_and_logo img{
    width: 12vw;
}
.menu_bar .menu{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu_bar .menu li{
    display: inline-block;
    padding: 0 0.6vh;

}

ul.menu {
    list-style-type: none;
}
.menu li a{
    transition: all 0.3s ease 0s;
}
.menu li a:hover{
    color: #0c7dcd;
}

.menu_button{
    padding: 1vh 1vh;
    font-size: 1vw;
    background-color: rgb(12, 85, 205);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu_button:hover{
    background-color: rgb(12, 125, 205);
}

.copyright_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    padding-bottom: 1rem;
}

.copyright_text {
    color: #888888;
    font-size: 0.8em;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_container{
    width: 90%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 20px #1f2024;
    border-radius: 8px;
    margin: 0 auto 20px;
}

.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 10px;
    border: 1px solid rgba(128,128,128,0.2);
    margin-top: 5px;
}

textarea{
    resize: vertical;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #0c55cd;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}

button[type="submit"]:hover{
    background-color: #0c55cd;
    color: #ffffff;
}