@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*,html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button, p, span, h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}
body{
    margin:0;
    font-family: Verdana, sans-serif;
    color:black;
}
main{
    height: fit-content;
}
.error{
    padding: 10vh 5vh 50vh;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #24252AEF;
    color: white;


}