@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
footer{
    background-color: #24252A;
}
.footer_container{
    padding: 4rem 0 0;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;

}
@media screen and (max-width: 550px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu_bar{
        font-size: 3.5vw;
    }
    .menu_bar img{
        width:20vw;
    }
    .menu_button{
        font-size: 3vw;
    }
    .menu_bar .menu{
        left:55%;
    }
    .hero_image{
        max-width: none;
    }
    .motivation_text p, .benefits_text h1, .support_text h1{
        font-size: 5vw;
    }
    .support_text p, .benefits_text p, .motivation_text li{
        font-size: 4vw;
    }

}

.footer-heading{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:20vw;
    margin-bottom: 1rem;
}

.footer-heading h1{
    margin-bottom: 1rem;
}

.footer-heading a{
    text-decoration: none;
    margin-bottom: 0.25rem;
    transition: all 0.3s ease 0s;
}

.footer-heading a:hover{
    color: #0c7dcd;
}

.copyright_container{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    padding-bottom: 1rem;
}

.copyright_text{
    color: #888888;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
}