@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button, p, span, h1, body
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
}

body
{
    background-color: #24252AEF;
}
main{
    height: 30px;
}
